@charset "UTF-8";
ul{
  	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
  	background-color: #855DFA;
}

li{
  	float: left;
}

li a{
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 12px 15px;
  	text-decoration: none;
}

li a:hover:not(.active) {
	 background-color: #7452DA;
}

.search{
	font-family:calibri;
}

.s{
	width:130px;
	height:25px;
	border: solid 2px black;
	font-size:15px;
	
}